.f1-dashboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background: #111;
  padding: 4px;
  color: #fff;
  font-family: sans-serif;
  width: 1300px;
}

.rpm-bar {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  gap: 2px;
  border: 1px solid #555;
  padding: 4px;
}
.rpm-bar .segment {
  flex: 1;
  height: 8px;
  background: #333;
  border-radius: 2px;
}
.rpm-bar .segment.active {
  background: lime;
}

.lap {
  grid-column: 1 / span 6;
  grid-row: 2;
  border: 1px solid #555;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
  font-size: 20px;

  .lap-title {
    padding: 8px;
  }
  .lap-number {
    padding: 8px;
  }
}
.voice {
  grid-column: 7 / span 8;
  grid-row: 2;
  border: 1px solid #555;
  padding: 8px;
}
.position {
  grid-column: 15 / -1;
  grid-row: 2;
  border: 1px solid #555;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
  font-size: 20px;

  .lap-title {
    padding: 8px;
  }
  .lap-number {
    padding: 8px;
  }
}

/* .battery ocupa 8 colunas e 2 linhas */
.battery {
  background: yellow;
  grid-column: 1 / span 8;
  grid-row: 3 / span 2;
  border: 1px solid #555;
  padding: 8px;
}

/* gear ocupa 4 colunas e 4 linhas*/
.time-title {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.time-value {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.span-title {
  font-size: 20px;
  margin: 0 30px 0 0;
  padding: 0;
}

.span-value {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.gear {
  grid-column: 9 / span 4;
  grid-row: 3 / span 4;
  border: 1px solid #555;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background: red;
  font-weight: bold;
}

/* current-time ocupa 6 colunas e 4 linhas*/
.current-time {
  grid-column: 13 / span 8;
  grid-row: 3 / span 2;
  border: 1px solid #555;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.kilometers {
  grid-column: 1 / span 8;
  grid-row: 5 / span 2;
  border: 1px solid #555;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .delta-time repete o current-time  */
.delta-time {
  grid-column: 13 / span 8;
  grid-row: 5 / span 2;
  border: 1px solid #555;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* car-damages ocupar 8 colunas podem 10 linhas */
.car-damages {
  grid-column: 1 / span 8;
  grid-row: 7 / span 10;
  border: 1px solid #555;
  padding: 8px;
}

.hybrid-type {
  grid-column: 9 / span 4;
  grid-row: 7 / span 2;
  border: 1px solid #555;
  padding: 8px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  background: white;
}

.fuel-type {
  grid-column: 9 / span 4;
  grid-row: 9 / span 2;
  border: 1px solid #555;
  padding: 8px;
  background: blue;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Lap-remains {
  grid-column: 9 / span 4;
  grid-row: 11 / span 1;
  border: 1px solid #555;
  padding: 8px;
}

.fuel {
  grid-column: 9 / span 4;
  grid-row: 12 / span 1;
  border: 1px solid #555;
  padding: 8px;
}

.best-time {
  grid-column: 13 / span 8;
  grid-row: 7 / span 2;
  border: 1px solid #555;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.last-time {
  grid-column: 13 / span 8;
  grid-row: 9 / span 2;
  border: 1px solid #555;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.car-config {
  grid-column: 13 / span 8;
  grid-row: 11 / span 2;
  border: 1px solid #555;
  padding: 8px;
}

/* race-status ocupa 1 coluna a ultima e todas as linhas */
.race-status {
  grid-column: 25 / -1;
  grid-row: 1 / -1;
  border: 1px solid #555;
}
